*{
    margin: ();
    padding: ();
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    color: black;
    background-color: aqua;
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}